.newsContainer {
    padding: 40px;
    background-color: #efefef;
}
.newsList {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
}
.newsItem {
    padding: 15px;
    font-size: 16px;
    font-family: "Trebuchet MS";
    color: #223446;
}

@media screen and (max-width: 870px) {
    .newsContainer {
        padding: 10px;
    }
    .newsItem {
        padding: 10px;
        font-size: 14px;
    }
}